/* styles/Home.module.css */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 20px;
}

.title { 
  font-size: 2rem;
  color: rgb(var(--foreground-rgb));
  margin-bottom: 20px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
